name: Code style

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  code-style:
    name: Code style
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.0.x
            10.0.x
      - name: Restore tools
        run: dotnet tool restore
      - name: Check code style
        run: dotnet csharpier check .
